@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	margin: 0 auto;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.8;
	font-family: "Roboto","Arial","Tohoma", sans-serif;
}

img {
  max-width: 100%;
  //height: auto;
  vertical-align: top;
  *zoom: 1;
}

ul {
	li {
		list-style: none;
		a {
			text-decoration: none;
		}
		// &:hover {
		// 	opacity: 0.8;
		// }
	}
}

.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		content: '';
		clear: both;
	}
}

.wrap {
	margin: 0 auto;
	width: 95%;
	max-width: 1170px;
}