@charset "UTF-8";


::placeholder {
	font-size: 20px;
	color: silver;
}
iframe {
	width: 100%;
	height: 450px;
	border: 0;
}

// =======================ANIMATE====================

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


// =======================CONTENT====================
.header {
	position: relative;
	height: 646px;
	background: url("../images/main.png") top no-repeat;
	.wrap {
		.connect {
			float: left;
			.connect-menu {
				li {
					position: relative;
					display: inline-block;
					margin-right: 10px;
					p {
						padding-left: 5px;
					}
					a {
						padding: 0 20px;
						color: #fff;
						font-size: 16px;
					}
					&:not(:last-child) {
						a {
							border-right: 1px solid #fff;
						}
					}
					.phone {
						&:before {
							position: absolute;
						    content: url("../images/phone.png");
						    top: 4%;
						    left: 0;
						    width: 13px;
						    height: 13px;
						}
					}
					.mail {
						&:before {
							position: absolute;
						    content: url("../images/mail.png");
						    top: 4%;
						    left: 0;
						    width: 13px;
						    height: 13px;
						}
					}
					.time {
						&:before {
							position: absolute;
						    content: url("../images/time.png");
						    top: 4%;
						    left: 0;
						    width: 13px;
						    height: 13px;
						}
					}
				}
			}
		}

		.internet {
			position: relative;
			float: right;
			width: 147 / 1170 * 100%;
			.internet-menu {
				li {
					display: inline;
					&:not(:last-child) {
						padding-right: 9.8%;
					}
					a {
						color: #fff;
					}
					img {
						vertical-align: middle;
					}
				}
			}
		}
	}

	.logo-menu {
		//height: 70px;
		border-top: 1px solid #a5acb5;
		border-bottom: 1px solid #d1d0d4;
		h1 {
			float: left;
			padding-top: 10px;
		}
		.wrap {
			.nav-menu {
				width: 689 / 1170 * 100%;
				float: right;
			}
			ul {
				padding-top: 34px;
				li {
					display: inline-block;
					padding-right: 34px;
					float: left;
					&:hover {
						opacity: 1;
					}
					&:last-child {
						padding: 0;
					}
					&:nth-child(3):after {
						position: absolute;
						content: url("../images/down.png");
					    top: 9.8%;
					    right: 37.3%;
					}
					a {
						position: relative;
						color: #fff;
						&.active {
							font-weight: bold;
						}
						&:after {
							position: absolute;
							content: "";
							left: 0%;
							display: block;
							width: 0;
							height: 3px;
						    font-weight: bold;
						    background: #fff;
						    -webkit-transition: all 0.5s ease-out;
						}
						&:hover:after {
							display: block;
							width: 100%;
						}
					}
					.sub-menu {
						position: absolute;
						width: 170px;
						height: 0;
						padding: 0;
						top: 15.8%;
						display: block;
						overflow: hidden;
						background: #fff;
						transition: all .5s ease-out;
					}
					&:hover {
						.sub-menu {
							display: block;
							height: 150px;
						}
						li {
							position: relative;
							padding-left: 10px;
							display: block;
							float: none;
							a {
								color: #000;
								&:after {
									content: "";
									display: none;
								}
							}
							&:nth-child(1) {
								padding-top: 10px;
							}
							&:hover {
								background: #71b100;
								a {
									color: #fff;
								}
							}
							&:nth-child(4):after {
								position: absolute;
								content: url("../images/fa-right.png");
								top: 0;
								right: 15%;
							}
							&:nth-child(3n):after {
								content: "";
								display: none;
							}
						}
					}
				}
			}

			.find-house {
				position: absolute;
				bottom: 19px;
				tr {
					td {
						padding: 0 27px 16px 0;
						width: 25.64%;
						&:nth-child(4n) {
							padding-right: 0;
						}
						p {
							position: absolute;
						    top: -46%;
						    color: #fff;
						    font-size: 25px;
						}
					}
				}
				.choose-condition {
					position: relative;
					&:after {
						position: absolute;
						content: url("../images/marker.png");
						top: 50%;
					    right: 5%;
					    transform: translateY(-50%);
					    -o-transform: translateY(-50%);
					    -ms-transform: translateY(-50%);
					    -moz-transform: translateY(-50%);
					    -webkit-transform: translateY(-50%);
					}
				}
				.condition {
					position: relative;
					&:after {
						position: absolute;
						content: url("../images/down.png");
						top: 50%;
					    right: 5%;
					    transform: translateY(-60%);
					    -o-transform: translateY(-60%);
					    -ms-transform: translateY(-60%);
					    -moz-transform: translateY(-60%);
					    -webkit-transform: translateY(-60%);
					}
				}
				.range {
					position: relative;
					&:before {
						position: absolute;
						content: "Cost";
					    top: -10px;
					    color: #fff;
					}
					&:after {
						position: absolute;
						content: "$ 5.000 - $ 100.000";
					    left: 20%;
					    bottom: -26px;
					    color: #fff;
					}
				}
			}

			select {
				padding-left: 10px;
				width: 100%;
				height: 40px;
				color: #fff;
				background: transparent;
				-webkit-appearance: none;
				option {
					color: black;
					background: #fff;
				}
			}
			.search {
				width: 100%;
				height: 41px;
				border: 0;
				cursor: pointer;
				background: #fff;
				-webkit-transition: all 0.5s ease-out;
				&:hover {
					background: black;
					color: #fff;
				}
			}
			.slider {
				position: relative;
				width: 100%;
				height: 1px;
			    opacity: 0.6;
			    -webkit-appearance: none;
			    &::-webkit-slider-thumb {
			    	width: 10px;
				    height: 10px;
				    cursor: pointer;

				    appearance: none;
				    border-radius: 50%;
				    background: #fff;
				    -webkit-appearance: none;
			    }
			    &:after {
			    	position: absolute;
					content: url("../images/ellipse.png");
					right: 0;
					top: -7px;
			    }
			}
		}
	}
}

.container {
	.main-title {
		.wrap {
			position: relative;
			&:before {
				position: absolute;
				content: url("../images/long-left.png");
				bottom: 20%;
    			right: 5%;
			}
			&:after {
				position: absolute;
				content: url("../images/long-right.png");
				bottom: 20%;
    			right: 0%;
			}
		}

		h3 {
			position: relative;
			margin: 0 auto;
			padding: 45px 0 20px; 
			width: 17%;
			color: #71b100;
			font-size: 30px;
			font-weight: normal;
			span {
				padding-right: 10px;
				color: rgb(42, 42, 42);
				font-size: 20px;
				font-weight: normal;
			}
			&:before {
				position: absolute;
    			content: "";
    			top: 68%;
    			right: 100%-1;
    			width: 100vw;
    			height: 1px;
    			background: #2a2a2a;
			}
		}		
	}
	.main-title-2 {
		.wrap {
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
	}

	.wrap {
		.content {
			margin-bottom: 60px;
			.menu-house-2 {
				li {
					margin-top: 20px;
				}
			}
			.menu-house, .menu-house-2 {
				margin-bottom: 60px;
				font-size: 0;
				li {
					margin-right: 2.56%;
					width: 370/1170*100%;
					font-size: 18px;
					overflow: hidden;
					display: inline-block;
					vertical-align: top;
					background-color: #f0f0f0;
					&:nth-child(3n) {
						margin-right: 0;
					}

					p {
						padding: 0;
						color: rgb(157, 157, 157);
						background: #f0f0f0;
						span {
							float: right;
							color: rgb(157, 157, 157);
						}
					}
					.detail {
						padding: 0 10.45px;
					}
					
					.map {
						font-size: 16px;
						color: rgb(157, 157, 157);
						&:before {
							content: url("../images/map.png");
							padding-right: 10px;
						}
					}

					.add {
						padding-top: 18px !important;
						line-height: 1.2;
						font-size: 20px;
						font-weight: bold;
						color: rgb(97, 147, 0);
					}

					.price {
						color: #71b100;
						.cost {
							color: rgb(113, 177, 0);
						}
						&:before {
							content: url("../images/usd.png");
							padding-right: 20px;
						}
					}

					.gara {
						&:before {
							content: url("../images/gara.png");
							padding-right: 10px;
						}
					}
					.bed {
						&:before {
							content: url("../images/bed.png");
							padding-right: 10px;
						}
					}

					.bath {
						&:before {
							content: url("../images/bath.png");
							padding-right: 10px;
						}
					}

					.house-detail {
						position: relative;
						overflow: hidden;
						img {
							width: 100%;
							transition: all .5s ease-out;
						}

						.sale {
							position: absolute;
							bottom: 0;
							left: 18%;
							width: 62.16%;
							z-index: 2;
							color: #fff !important;
							text-align: center;
							border: 0;
							background: rgba(97, 148, 1, .7);
						}
						.rent {
							position: absolute;
							bottom: 0;
							left: 18%;
							width: 62.16%;
							z-index: 2;
							color: #fff !important;
							text-align: center;
							border: 0;
							background: rgba(97, 148, 1, .7);
						}
					}
					&:hover {
						img {
							transform: scale(1.1);
						}
					}
				}
			}

			.menu-house-2 {
				li {
					&>a {
						&:hover {
							.hover {
								color: rgb(123, 181, 34);
							}
						}
					}

					p {
						color: black;
						&.active {
							padding-top: 20px;
							padding-left: 10px;
							font-size: 20px;
							line-height: 1.2;
							color: rgb(123, 181, 34);
						}
					}

					.hover {
						padding-top: 20px;
						font-size: 20px;
						line-height: 1.2;
					}

					.map {
						color: rgb(157, 157, 157);
					}
					.gara, .bed {
						float: left;
						width: 33.35%;
					}
					.gara, .bed, .bath {
						span {
							float: none;
							color: rgb(100, 100, 100);
						}
					}
					.price {
						color: black;
						span {
							float: right;
							color: black;
						}
						&:before {
							content: url("../images/-fa-usd02.png");
							padding-right: 20px;
						}
					}
					.bed {
						padding-left: 13%;
					}
					.bath {
						padding-left: 16%;
						float: right;
						width: 33.3%;
					}
				}
			}
		}

		.img-sologan {
			margin-top: 50px;
			float: left;
		}
		.txt {
			margin-top: 186px;
			float: right;
			width: 570/1170*100%;
			.text {
				position: relative;
				text-indent: 80px;
				text-align: justify;
				&:before {
					position: absolute;
					content: "";
					top: -5px;
					left: 0;
					width: 38px;
					height: 32px;
					display: inline-block;
					background: url(../images/left.png);
				}
				.right {
					margin-left: 30px;
				}
			}
			.text-name {
				position: relative;
				margin-top: 10px;
				font-size: 16px;
				color: #71b100;
				&:after {
					position: absolute;
					content: "";
					left: 17.5%;
					bottom: 30%;
					width: 170px;
					height: 1px;
					background: #afafaf;
				}
			}
		}

		.sponsor {
			margin: 40px 0;
			.sponsor-menu {
				li {
					display: inline-block;
				}
			}
		}
	}

	.user {
		position: relative;
		img {
			width: 100%;
		}
		.wrap {
			p {
				position: absolute;
				top: 20%;
			    color: #fff;
			    font-size: 20px;
			}
			.input {
				position: absolute;
				top: 55%;
				//width: 87%;
				transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);

				input {
					margin-right: 2.2%;
					padding: 8px 0 0 10px;
					width: 31.5%;
					height: 40px;
					color: #fff;
					outline: none;
					cursor: pointer;
					border: 1px solid #fff;
					background: transparent;
				}
				#submit {
					margin-right: 0;
					padding-top: 4px;
					font-size: 20px;
					&:hover {
						font-weight: bold;
						color: rgb(113, 177, 0);
						background-color: #fff;
					}
				}
			}
		}
	}
}

.footer {
	height: 87px;
	line-height: 0;
	background: #71b100;
	.wrap {
		.logo-copyright {
			float: left;
			padding: 20px 0;
		}
		.copyright {
			float: right;
			padding: 43px 0;
			color: #fff;
		}
	}
}
