@charset "UTF-8";

@media only screen and (max-width: 1240px) {
	.header {
		.logo-menu {
			.wrap {
				.nav-menu {
					ul {
						li {
							&:nth-child(3):after {
								right: 36%;
							}
						}
					}
				}
			}
		}
	}
	.container {
		.wrap {
			.sponsor {
				.sponsor-menu {
					li {
						margin-left: 12%;
						margin-top: 2%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px) {
	.header {
		.wrap {
			.internet {
				width: 14%;
			}
		}
		.logo-menu {
			.wrap {
				.nav-menu {
					width: 67%;
					ul {
						li {
							&:nth-child(3):after {
								right: 41%;
							}
						}
					}
				}
			}
		}
	}
	.container {
		.wrap {
			.banner {
				img {
					width: 100%;
  					height: auto;
				}
			}

			.img-sologan {
				img {
					width: 70%;
				}
			}
			.txt {
				width: 40%;
			}

			.sponsor {
				margin: 20px 0;
				.sponsor-menu {
					li {
						margin-left: 10%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.header {
		.wrap {
			.internet {
				width: 180 / 1170 * 100%;
			}
		}
		.logo-menu {
			.wrap {
				.nav-menu {
					width: 845 / 1170 * 100%;
					ul {
						li {
							&:nth-child(3):after {
								right: 43.5%;
							}
						}
					}
				}
			}
		}
	}

	.container {
		.wrap {
			.banner {
				img {
					width: 100%;
  					height: auto;
				}
			}

			.img-sologan {
				img {
					margin-left: 50%;
					width: 70%;
				}
			}
			.txt {
				margin: 50px 0;
				width: 100%;
			}

			.sponsor {
				margin: 20px 0;
				.sponsor-menu {
					li {
						margin-left: 9%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 980px) {
	.header {
		.wrap {
			.connect {
				float: none;
				.connect-menu {
					li {
						margin-right: 0;
						display: block;
						text-align: center;
						&:not(:last-child) {
							a {
								border-right: none;
							}
						}
						.phone {
							&:before {
							    left: 41%;
							}
						}
						.mail {
							&:before {
							    left: 38%;
							}
						}
						.time {
							&:before {
							    left: 35%;
							}
						}
					}
				}
			}

			.internet {
				width:100%;
				.internet-menu {
					li {
						&:nth-child(1) {
							margin-left: 25%;
						}
					}
				}
			}
		}
		.logo-menu {
			margin-top: 10px;
			h1 {
				margin-left: 37%;
				padding-top: 20px;
				float: none;
			}
			.wrap {
				.nav-menu {
					width: 100%;
					&>ul {
						&>li {
							float: none;
							&:nth-child(1) {
								margin-left: 12%;
							}
							&:nth-child(3):after {
								top: 36.5%;
								right: 56%;
							}
							.sub-menu {
								top: 42.5%;
							}
						}
					}
				}
			}
		}
	}

	.container {
		.user {
			.wrap {
				.input {
					input {
						margin-right: 2%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 880px) {
	.header {
		.logo-menu {
			.wrap {
				.nav-menu {
					&>ul {
						&>li {
							&:nth-child(1) {
								margin-left: 9%;
							}
							&:nth-child(3):after {
								top: 36.5%;
								right: 56.5%;
							}
						}
					}
				}
				.find-house {
					tr {
						td {
							float: left;
							width: 50%;
							&:nth-child(4n) {
								padding-right: 27px;
							}
							p {
							    top: -30%;
							}
						}
					}
				}
			}
		}
	}

	.container {
		.wrap {
			.img-sologan {
				img {
					margin-left: 40%;
				}
			}

			.sponsor {
				.sponsor-menu {
					li {
						margin-left: 7%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 780px) {
	.header {
		height: 800px;
		.wrap {
			.connect {
				.connect-menu {
					li {
						.phone {
							&:before {
							    left: 38%;
							}
						}
						.mail {
							&:before {
							    left: 34%;
							}
						}
						.time {
							&:before {
							    left: 30%;
							}
						}
					}
				}
			}
		}

		.logo-menu {
			.wrap {
				.nav-menu {
					&>ul {
						&>li {
							display: block;
							padding-right: 0;
							text-align: center;
							&:nth-child(1) {
								margin-left: 0;
							}
							&:nth-child(3):after {
								top: 37.5%;
								right: 43.5%;
							}
							.sub-menu {
								top: 40%;
								left: 57%;
								z-index: 1;
							}
						}
					}
				}
			}
		}
	}

	.container {
		.wrap {
			.content {
				.menu-house, .menu-house-2 {
					li {
						margin-right: 2%;
						margin-top: 20px;
						width: 48%;
					}
				}
				.menu-house-2 {
					li {
						&:nth-child(3n) {
							margin-right: 2%;
						}
					}
				}
			}

			.img-sologan {
				img {
					margin-left: 30%;
				}
			}

			.sponsor {
				.sponsor-menu {
					li {
						margin-left: 3%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	.container {
		.user {
			.wrap {
				p {
					top: 15%;
				}
				.input {
					top: 60%;
					input {
						margin-top: 10px;
						width: 100%;
					}
				}
			}
		}
		.wrap {
			.img-sologan {
				img {
					margin-left: 20%;
				}
			}

			.sponsor {
				.sponsor-menu {
					li {
						margin-left: 13%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.header {
		.wrap {
			.connect {
				.connect-menu {
					li {
						.phone {
							&:before {
							    left: 35%;
							}
						}
						.mail {
							&:before {
							    left: 30%;
							}
						}
						.time {
							&:before {
							    left: 25%;
							}
						}
					}
				}
			}
		}
	}

	.container {
		.wrap {
			.content {
				.menu-house, .menu-house-2 {
					li {
						margin-right: 0;
						margin-top: 20px;
						width: 100%;
					}
				}
			}
			.sponsor {
				.sponsor-menu {
					li {
						margin-left: 10%;
					}
				}
			}
		}
	}

	.footer {
		.wrap {
			.copyright {
				font-size: 14px;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.header {
		.wrap {
			.connect {
				.connect-menu {
					li {
						.phone {
							&:before {
							    left: 32%;
							}
						}
						.mail {
							&:before {
							    left: 26%;
							}
						}
						.time {
							&:before {
							    left: 20%;
							}
						}
					}
				}
			}
			.internet {
				width:100%;
				.internet-menu {
					li {
						&:nth-child(1) {
							margin-left: 17%;
						}
					}
				}
			}
		}
		.logo-menu {
			h1 {
				margin-left: 25%;
			}
			.wrap {
				.nav-menu {
					&>ul {
						&>li {
							&:nth-child(3):after {
								right: 40%;
							}
							.sub-menu {
								left: 62%;
							}
						}
					}
				}
				.find-house {
					tr {
						td {
							padding: 0 10px 16px 0;
							&:nth-child(2n) {
								padding-right: 0;
							}
						}
					}
					.range {
						&:after {
						    left: 0;
						    font-size: 15px;
						}
					}
				}
			}
		}
	}

	.container {
		.main-title {
			.wrap {
				h3 {
					font-size: 25px;
					span {
						font-size: 18px;
					}
					&:before {
						right: 98%;
					}
				}
			}
		}
		.wrap {
			.sponsor {
				.sponsor-menu {
					li {
						margin-left: 5%;
					}
				}
			}
		}
	}

	.footer {
		height: auto;
		.wrap {
			.logo-copyright {
				float: none;
				img {
					margin-left: 25%;
				}
			}
			.copyright {
				float: none;
				padding: 30px 0;
				font-size: 15px;
				text-align: center;
			}
		}
	}
}

@media only screen and (max-width: 450px) {
	.header {
		height: 1000px;
		.logo-menu {
			.wrap {
				.find-house {
					bottom: 30px;
					tr {
						td {
							padding: 0 0 16px 0;
							display: block;
							float: none;
							width: 100%;
							&:nth-child(4n) {
								padding-right: 0;
							}
							p {
							    top: -10%;
							    font-size: 25px;
							}
						}
					}
				}
				.search {
					margin-top: 20px;
				}
				.nav-menu {
					&>ul {
						&>li {
							display: block;
							padding-right: 0;
							text-align: center;
							&:nth-child(1) {
								margin-left: 0;
							}
							&:nth-child(3):after {
								top: 30%;
								right: 39%;
							}
							.sub-menu {
								top: 32%;
								left: 60%;
							}
						}
					}
				}
			}
		}
	}

	.container {
		.main-title {
			.wrap {
				h3 {
					font-size: 20px;
					span {
						font-size: 14px;
					}
				}
				&:before {
					right: 10%;
				}
			}
		}
		.wrap {
			.sponsor {
				.sponsor-menu {
					li {
						margin-left: 1%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 400px) {
	.header {
		.wrap {
			.connect {
				.connect-menu {
					li {
						.phone {
							&:before {
							    left: 28%;
							}
						}
						.mail {
							&:before {
							    left: 20%;
							}
						}
						.time {
							&:before {
							    left: 15%;
							}
						}
					}
				}
			}
		}
		.logo-menu {
			h1 {
				margin-left: 20%;
			}
			.wrap {
				.nav-menu {
					&>ul {
						padding-top: 0;
						&>li {
							&:nth-child(3):after {
								top: 26.5%;
								right: 38%;
							}
							.sub-menu {
								top: 29%;
								left: 0;
								width: 100%;
							}
						}
					}
				}
				.find-house {
					tr {
						td {
							p {
							    top: -13%;
							    font-size: 20px;
							}
						}
					}
				}
			}
		}
	}
	.container {
		.wrap {
			.sponsor {
				.sponsor-menu {
					li {
						margin-left: 25%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 435px) {
	.container {
		.wrap {
			.sponsor {
				.sponsor-menu {
					li {
						margin-left: 25%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 320px) {
	.header {
		.wrap {
			.connect {
				.connect-menu {
					li {
						.phone {
							&:before {
							    left: 25%;
							}
						}
						.mail {
							&:before {
							    left: 15%;
							}
						}
						.time {
							&:before {
							    left: 5%;
							}
						}
					}
				}
			}
		}
		.logo-menu {
			h1 {
				margin-left: 15%;
			}
			.wrap {
				.nav-menu {
					&>ul {
						padding-top: 0;
						&>li {
							&:nth-child(3):after {
								top: 26.8%;
								right: 35%;
							}
							.sub-menu {
								top: 29%;
								left: 0;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
	.container {
		.main-title {
			.wrap {
				h3 {
					font-size: 15px;
					span {
						font-size: 13px;
					}
				}
			}
		}
		.wrap {
			.sponsor {
				.sponsor-menu {
					li {
						margin-left: 18%;
					}
				}
			}
			.img-sologan {
				img {
					margin-left: 15%;
				}
			}
		}
	}
	.footer {
		.wrap {
			.logo-copyright {
				img {
					margin-left: 18%;
				}
			}
			.copyright {
				padding: 10px 0;
				font-size: 12px;
			}
		}
	}
}