@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import:"reset.css";


body {
	margin: 0 auto;
	font-family: "Roboto","Arial","Tohoma", sans-serif;
}



.header {
	position: relative;
	height: 646px;
	background: url("../images/main.png") top no-repeat;
}
.header .wrap .connect {
	float: left;
}
.header .wrap .connect .connect-menu li {
	position: relative;
	display: inline-block;
	margin-right: 10px;
}
.header .wrap .connect .connect-menu li p {
	padding-left: 5px;
}
.header .wrap .connect .connect-menu li .phone:before {
	position: absolute;
    content: url("../images/phone.png");
    top: 4%;
    left: 0;
    width: 13px;
    height: 13px;
}
.header .wrap .connect .connect-menu li .maill:before {
	position: absolute;
    content: url("../images/mail.png");
    top: 4%;
    left: 0;
    width: 13px;
    height: 13px;
}
.header .wrap .connect .connect-menu li .time:before {
	position: absolute;
    content: url("../images/time.png");
    top: 5%;
    left: 0;
    width: 13px;
    height: 13px;
}
.header .wrap .connect .connect-menu li a {
	padding: 0 20px;
	color: #fff;
	font-size: 16px;
}
.header .wrap .connect .connect-menu li:not(:last-child) a {
	border-right: 1px solid #fff;
}



.header .wrap .internet {
	position: relative;
	float: right;
	width: calc(147 / 1170 * 100%);
}
.header .wrap .internet .internet-menu li {
	display: inline;
}
.header .wrap .internet .internet-menu li:not(:last-child) {
	padding-right: 10.5%;
}
.header .wrap .internet .internet-menu li a {
	color: #fff;
}
.header .wrap .internet .internet-menu li img {
	vertical-align: middle;
}



.logo-menu {
	height: 70px;
	border-top: 1px solid #a5acb5;
	border-bottom: 1px solid #d1d0d4;
}
.logo-menu h1 {
	float: left;
	padding-top: 10px;
}
.logo-menu .wrap .nav-menu {
	width: calc(689 / 1170 * 100%);
	float: right;
}
.logo-menu .wrap .nav-menu ul {
	padding-top: 34px;
}
.logo-menu .wrap .nav-menu ul li {
	display: inline-block;
	float: left;
	padding-right: 35px;
}
.logo-menu .wrap .nav-menu ul li:nth-child(3):after {
	position: absolute;
	content: url("../images/down.png");
    top: 9.8%;
    right: 37.3%;
}
.logo-menu .wrap .nav-menu ul li:last-child {
	padding: 0;
}
.logo-menu .wrap .nav-menu ul li a {
	position: relative;
	color: #fff;
}
.logo-menu .wrap .nav-menu ul li a.active {
	font-weight: bold;
}
.logo-menu .wrap .nav-menu ul li a:after {
	position: absolute;
	content: "";
	left: 0%;
	display: block;
	width: 0;
	height: 3px;
    font-weight: bold;
    background: #fff;
    -webkit-transition: all 0.5s ease-out;	
}
.logo-menu .wrap .nav-menu ul li a:hover:after {
	display: block;
	width: 100%;
}
.logo-menu .wrap .nav-menu ul li .sub-menu {
	position: absolute;
	top: 15.8%;
	width: 170px;
	height: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	background: #fff;
	transition: all .5s ease-out;
}
.logo-menu .wrap .nav-menu ul li:hover .sub-menu {
	display: block;
	height: 150px;
}
.logo-menu .wrap .nav-menu ul li .sub-menu li {
	position: relative;
	padding-left: 10px;
	display: block;
	float: none;
}
.logo-menu .wrap .nav-menu ul li .sub-menu li:nth-child(1) {
	padding-top: 10px;
}
.logo-menu .wrap .nav-menu ul li .sub-menu li:hover {
	background: #71b100;
}
.logo-menu .wrap .nav-menu ul li .sub-menu li:hover a {
	color: #fff;
}
.logo-menu .wrap .nav-menu ul li .sub-menu li:nth-child(4):after {
	position: absolute;
	content: url("../images/fa-right.png");
	top: 0;
	right: 15%;
}
.logo-menu .wrap .nav-menu ul li .sub-menu li a {
	color: #000;
}
.logo-menu .wrap .nav-menu ul li .sub-menu li:nth-child(3n):after {
	content: "";
	display: none;
}
.logo-menu .wrap .nav-menu ul li .sub-menu li a:after {
	content: "";
	display: none;
}
.icon {
	display: none;
}



.header .wrap .find-house {
	position: absolute;
	bottom: 19px;
	
}
.header .wrap .find-house tr td {
	padding: 0 27px 16px 0;
	width: 25.64%;
}
.header .wrap .find-house tr td:nth-child(4n) {
	padding-right: 0;
}
.header .wrap .find-house tr td p {
	position: absolute;
    top: -46%;
    color: #fff;
    font-size: 25px;
}
.header .wrap select {
	padding-left: 10px;
	width: 100%;
	height: 40px;
	color: #fff;
	background: transparent;
	-webkit-appearance: none;
}
.header .wrap select option{
	color: black;
	background: #fff;
}
.header .wrap .search {
	width: 100%;
	height: 41px;
	border: 0;
	cursor: pointer;
	background: #fff;
	-webkit-transition: all 0.5s ease-out;
}
.header .wrap .search:hover {
	background: black;
	color: #fff;
}
.header .wrap .slider {
	position: relative;
	width: 100%;
	height: 1px;
    opacity: 0.6;
    -webkit-appearance: none
}
.header .wrap .slider::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 50%;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
}
.header .wrap .slider:after {
	position: absolute;
	content: url("../images/ellipse.png");
	right: 0;
	top: -7px;
}

.logo-menu .wrap .find-house .choose-condition {
	position: relative;
}
.logo-menu .wrap .find-house .choose-condition:after {
	position: absolute;
	content: url("../images/marker.png");
	top: 50%;
    right: 5%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.logo-menu .wrap .find-house .condition {
	position: relative;
}
.logo-menu .wrap .find-house .condition:after {
	position: absolute;
	content: url("../images/down.png");
	top: 50%;
    right: 5%;
    -webkit-transform: translateY(-60%);
       -moz-transform: translateY(-60%);
        -ms-transform: translateY(-60%);
         -o-transform: translateY(-60%);
            transform: translateY(-60%);
}
.logo-menu .wrap .find-house .range {
	position: relative;
}
.logo-menu .wrap .find-house .range:before {
	position: absolute;
	content: "Cost";
    top: -10px;
    color: #fff;
}
.logo-menu .wrap .find-house .range:after {
	position: absolute;
	content: "$ 5.000 - $ 100.000";
    left: 20%;
    bottom: -26px;
    color: #fff;
}



/*.container .main-title .wrap{
	position: relative;
}

.main-title h3 {
	position: relative;
	margin: 0 auto;
	padding: 45px 0 20px; 
	width: 17%;
	color: #71b100;
	font-size: 30px;
	font-weight: normal;
}
.main-title h3 span {
	padding-right: 10px;
	color: rgb(42, 42, 42);
	font-size: 20px;
	font-weight: normal;
}
.main-title h3:before {
	position: absolute;
    content: "";
    top: 68%;
    right: calc(100% - 2px);
    width: 100vw;
    height: 1px;
    background: #2a2a2a;
}
::-webkit-input-placeholder { 
	color:#fff; 
}

.container .main-title .wrap:before {
	position: absolute;
	content: url("../images/long-left.png");
	bottom: 20%;
    right: 5%;
}
.container .main-title .wrap:after {
	position: absolute;
	content: url("../images/long-right.png");
	bottom: 20%;
    right: 0%;
}

.container .wrap .content {
	margin-bottom: 60px;
}
.container .wrap .content ul {
	font-size: 0;
	margin-bottom: 60px;
}
.container .wrap .content ul li {
	display: inline-block;
	margin-right: 2.56%;
	width: calc(370 / 1170 * 100%);
	font-size: 18px;
	overflow: hidden;
	vertical-align: top;
}
.container .wrap .content ul li:nth-child(3n) {
	margin-right: 0;
}
.container .wrap .content ul li p {
	padding: 0;
	color: rgb(157, 157, 157);
	background: #f0f0f0;
}
.container .wrap .content p span {
	float: right;
	color: rgb(157, 157, 157);
}
.container .wrap .content ul li .detail {
	padding: 0 10.45px;
}
.container .wrap .content .map {
	padding-top: 3px;
	font-size: 16px;
	color: rgb(157, 157, 157);
}
.container .wrap .content .add {
	padding-top: 18px !important;
	line-height: 1.2;
	font-size: 20px;
	font-weight: bold;
	color: rgb(97, 147, 0);
}
.container .wrap .content .price {
	color: #71b100;
}
/*.container .wrap .content .map, 
.container .wrap .content .price {
	padding-bottom: 10px;
}*/

/*.container .wrap .content .price #cost {
	color: rgb(113, 177, 0);
}
.container .wrap .content ul li .map:before {
	content: url("../images/map.png");
	padding-right: 10px;
}
.container .wrap .content ul li .price:before {
	content: url("../images/usd.png");
	padding-right: 20px;
}
.container .wrap .content ul li .gara:before {
	content: url("../images/gara.png");
	padding-right: 10px;
}
.container .wrap .content ul li .bed:before {
	content: url("../images/bed.png");
	padding-right: 10px;
}
.container .wrap .content ul li .bath:before {
	content: url("../images/bath.png");
	padding-right: 10px;
}
.container .wrap .content ul li a {
	position: relative;
}


.house-detail {
	position: relative;
}
.house-detail img {
	width: 100%;
}
.house-detail .sale {
	border: 1px solid;
	position: absolute;
	bottom: 0;
	left: 18%;
	width: 62.16%;
	color: #fff !important;
	text-align: center;
	border: 0;
	background: rgba(97, 148, 1, .7);
}
.house-detail .rent {
	border: 1px solid;
	position: absolute;
	bottom: 0;
	left: 18%;
	width: 62.16%;
	color: #fff !important;
	text-align: center;
	border: 0;
	background: rgba(97, 148, 1, .7);
}

/*.container .wrap .content ul li a:before {
	position: absolute;
	content: "Sale";
	top: -20%;
    left: 50%;
    padding-bottom: 5px;
    width: 62.16%;
    color: #fff;
    text-align: center;
    background: rgba(97, 148, 1, .7);
    transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.container .wrap .content ul li .rent:before {
	position: absolute;
	content: "Recent";
	top: -19%;
    left: 50%;
    padding-bottom: 5px;
    width: 62.16%;
    height: 25px;
    color: #fff;
    text-align: center;
    background: rgba(97, 148, 1, .7);
    transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}*/

/*.container .wrap .content .menu-house-2 li .price:before {
	content: url("../images/-fa-usd02.png");
	padding-right: 20px;
}
.container .wrap .content .menu-house-2 li p {
	color: black;
}
.container .wrap .content .menu-house-2 .map {
	color: rgb(157, 157, 157);
}
.container .wrap .content .menu-house-2 li a p.active {
	padding-top: 20px;
	font-size: 20px;
	line-height: 1.2;
	color: rgb(123, 181, 34);
}
.container .wrap .content .menu-house-2 li > a:hover .hover {
	color: rgb(123, 181, 34);
}
.container .wrap .content .menu-house-2 li .gara span,
.container .wrap .content .menu-house-2 li .bed span, 
.container .wrap .content .menu-house-2 li .bath span {
	float: none;
	color: rgb(100, 100, 100);
}
.container .wrap .content .menu-house-2 li .hover {
	padding-top: 20px;
	font-size: 20px;
	line-height: 1.2;
}
.container .wrap .content .menu-house-2 li .price {
	color: black;
}
.container .wrap .content .menu-house-2 li .price span {
	float: right;
	color: black;
}
.container .wrap .content .menu-house-2 li .gara, 
.container .wrap .content .menu-house-2 li .bed {
	float: left;
	width: 33.35%;
}
.container .wrap .content .menu-house-2 li .bed {
	padding-left: 13%;
}
.container .wrap .content .menu-house-2 li .bath {
	padding-left: 16%;
	float: right;
	width: 33.3%;
}



.container .user {
	position: relative;
}
.container .user img {
	width: 100%;
}
.container .user .input {
	width: 87%;
}
.container .user .wrap p {
	position: absolute;
	top: 20%;
    color: #fff;
    font-size: 20px;
}
.container .wrap form {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.container .wrap form input {
	margin-right: 25px;
	padding: 8px 0 0 10px;
	width: 31.624%;
	height: 40px;
	color: #fff;
	outline: none;
	cursor: pointer;
	border: 1px solid #fff;
	background: transparent;
} 
.container .wrap form input .name {
	color: #fff;
}
.container .wrap form #submit {
	margin-right: 0;
	padding-top: 4px;
	font-size: 20px;
}
.container .wrap form #submit:hover{
	font-weight: bold;
	color: rgb(113, 177, 0);
	background-color: #fff;
}
::placeholder {
	font-size: 20px;
}


.container .wrap .img-sologan {
	margin-top: 50px;
	float: left;
}
.container .wrap .txt {
	margin-top: 186px;
	float: right;
	width: calc(570 / 1170 *100%);
}
.container .wrap .txt .text {
	position: relative;
	text-indent: 80px;
	text-align: justify;
}
.container .wrap .txt .text:before {
	position: absolute;
	content: "";
	top: -5px;
	left: 0;
	width: 38px;
	height: 32px;
	display: inline-block;
	background: url(../images/left.png);
}
.container .wrap .txt .text:after {
	position: absolute;
	content: "";
	top: 87%;
	left: 29%;
	width: 38px;
	height: 32px;
	display: inline-block;
	background: url(../images/right.png);
}
.container .wrap .txt .text-name {
	position: relative;
	margin-top: 10px;
	font-size: 16px;
	color: #71b100;
}
.container .wrap .txt .text-name:after {
	position: absolute;
	content: "";
	left: 17.5%;
	bottom: 30%;
	width: 170px;
	height: 1px;
	background: #afafaf;
}
/*.container .wrap .sponsor img {
	max-width: calc(170 / 1170 * 100%) !important;
}*/

/*.container .wrap .sponsor {
	margin: 60px 0;
}
.container .wrap .sponsor .sponsor-menu li {
	display: inline-block;
}*/


.footer {
	height: 87px;
	line-height: 0;
	background: #71b100;
}
.footer .wrap .logo-copyright {
	float: left;
	padding: 20px 0;
}
.footer .wrap .copyright {
	float: right;
	padding: 43px 0;
	color: #fff;
}

iframe {
	width: 100%;
	height: 450px;
	border: 0;
}


/*@media screen and (max-width: 1024px) {
	.header .wrap .connect {
		float: none;
	}
	.header .wrap .internet {
		float: none;
		width: 30%;
	}

	.logo-menu .wrap .nav-menu {
		width: calc(840 / 1170 * 100%);
	}
	.logo-menu .wrap .nav-menu ul li {
		padding-right: 30px;
	}
	.logo-menu .wrap .nav-menu ul li:nth-child(3):after {
    	top: 15.4%;
    	right: 44%;
	}
	.logo-menu .wrap .nav-menu ul li .sub-menu {
		top: 21.2%;
	}

	.logo-menu .wrap .find-house .range:after {
    	left: 0;
    	font-size: 18px;
	}

	.container .wrap .content .add {
		font-size: 20px;
	}
	.container .wrap .content .map {
		font-size: 16px;
	}

	.container .wrap .content .menu-house-2 li .bath {
		padding-left: 14%;
	}

	.container .user .input {
		width: 95%;
	}
	.container .wrap form input {
		margin-right: 2%;
	}

	.container .wrap .img-sologan {
		margin-left: 19%;
		float: none;
	}
	.container .wrap .txt {
		margin-top: 20px;
		float: none;
		width: 100%;
	}
	.container .wrap .txt .text:after {
		top: 80%;
		left: 25%;
	}
	
	.container .wrap .sponsor .sponsor-menu li {
		margin-right: 100px;
	}
}



@media screen and (max-width: 960px) {

	.logo-menu .wrap .nav-menu {
		width: calc(840 / 1170 * 100%);
	}
	.logo-menu .wrap .nav-menu ul li {
		padding-right: 23px;
	}
	.logo-menu .wrap .nav-menu ul li:nth-child(3):after {
    	top: 14.7%;
    	right: 44.5%;
	}
	.logo-menu .wrap .nav-menu ul li .sub-menu {
		top: 20.7%;
	}

	.logo-menu .wrap .find-house .range:after {
    	left: 0;
    	font-size: 16px;
	}

	.container .wrap .content .add {
		font-size: 16px;
	}
	.container .wrap .content .map {
		font-size: 14px;
	}
}


@media screen and (max-width: 930px) {
	.logo-menu .wrap .nav-menu ul li {
		padding-right: 15px;
	}
	.logo-menu .wrap .nav-menu ul li:nth-child(3):after {
    	right: 44%;
	}

	.container .wrap .content .menu-house-2 li .bath, 
	.container .wrap .content .menu-house-2 li .bed {
		padding-left: 10%;
	}
}*/