@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
body {
	font-family: 'Open Sans','Arial','Tohoma',Sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.8;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-size: 0;
}
ul li,
ol li {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	opacity: 0.7;
}
img {
  max-width: 100%;
  vertical-align: bottom;
  *zoom: 1;
}

.clearfix {
	*zoom: 1;
}
.clearfix:after {
	display: block;
	content: '';
	clear: both;
}
.wrap {
	width: 95%;
	max-width: 1170px;
	margin: 0 auto;
}