@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  margin: 0 auto;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.8;
  font-family: "Roboto","Arial","Tohoma", sans-serif; }

img {
  max-width: 100%;
  vertical-align: top;
  *zoom: 1; }

ul li {
  list-style: none; }
  ul li a {
    text-decoration: none; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    display: block;
    content: '';
    clear: both; }

.wrap {
  margin: 0 auto;
  width: 95%;
  max-width: 1170px; }

::placeholder {
  font-size: 20px;
  color: silver; }

iframe {
  width: 100%;
  height: 450px;
  border: 0; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

.header {
  position: relative;
  height: 646px;
  background: url("../images/main.png") top no-repeat; }
  .header .wrap .connect {
    float: left; }
    .header .wrap .connect .connect-menu li {
      position: relative;
      display: inline-block;
      margin-right: 10px; }
      .header .wrap .connect .connect-menu li p {
        padding-left: 5px; }
      .header .wrap .connect .connect-menu li a {
        padding: 0 20px;
        color: #fff;
        font-size: 16px; }
      .header .wrap .connect .connect-menu li:not(:last-child) a {
        border-right: 1px solid #fff; }
      .header .wrap .connect .connect-menu li .phone:before {
        position: absolute;
        content: url("../images/phone.png");
        top: 4%;
        left: 0;
        width: 13px;
        height: 13px; }
      .header .wrap .connect .connect-menu li .mail:before {
        position: absolute;
        content: url("../images/mail.png");
        top: 4%;
        left: 0;
        width: 13px;
        height: 13px; }
      .header .wrap .connect .connect-menu li .time:before {
        position: absolute;
        content: url("../images/time.png");
        top: 4%;
        left: 0;
        width: 13px;
        height: 13px; }
  .header .wrap .internet {
    position: relative;
    float: right;
    width: 12.5641025641%; }
    .header .wrap .internet .internet-menu li {
      display: inline; }
      .header .wrap .internet .internet-menu li:not(:last-child) {
        padding-right: 9.8%; }
      .header .wrap .internet .internet-menu li a {
        color: #fff; }
      .header .wrap .internet .internet-menu li img {
        vertical-align: middle; }
  .header .logo-menu {
    border-top: 1px solid #a5acb5;
    border-bottom: 1px solid #d1d0d4; }
    .header .logo-menu h1 {
      float: left;
      padding-top: 10px; }
    .header .logo-menu .wrap .nav-menu {
      width: 58.8888888889%;
      float: right; }
    .header .logo-menu .wrap ul {
      padding-top: 34px; }
      .header .logo-menu .wrap ul li {
        display: inline-block;
        padding-right: 34px;
        float: left; }
        .header .logo-menu .wrap ul li:hover {
          opacity: 1; }
        .header .logo-menu .wrap ul li:last-child {
          padding: 0; }
        .header .logo-menu .wrap ul li:nth-child(3):after {
          position: absolute;
          content: url("../images/down.png");
          top: 9.8%;
          right: 37.3%; }
        .header .logo-menu .wrap ul li a {
          position: relative;
          color: #fff; }
          .header .logo-menu .wrap ul li a.active {
            font-weight: bold; }
          .header .logo-menu .wrap ul li a:after {
            position: absolute;
            content: "";
            left: 0%;
            display: block;
            width: 0;
            height: 3px;
            font-weight: bold;
            background: #fff;
            -webkit-transition: all 0.5s ease-out; }
          .header .logo-menu .wrap ul li a:hover:after {
            display: block;
            width: 100%; }
        .header .logo-menu .wrap ul li .sub-menu {
          position: absolute;
          width: 170px;
          height: 0;
          padding: 0;
          top: 15.8%;
          display: block;
          overflow: hidden;
          background: #fff;
          transition: all .5s ease-out; }
        .header .logo-menu .wrap ul li:hover .sub-menu {
          display: block;
          height: 150px; }
        .header .logo-menu .wrap ul li:hover li {
          position: relative;
          padding-left: 10px;
          display: block;
          float: none; }
          .header .logo-menu .wrap ul li:hover li a {
            color: #000; }
            .header .logo-menu .wrap ul li:hover li a:after {
              content: "";
              display: none; }
          .header .logo-menu .wrap ul li:hover li:nth-child(1) {
            padding-top: 10px; }
          .header .logo-menu .wrap ul li:hover li:hover {
            background: #71b100; }
            .header .logo-menu .wrap ul li:hover li:hover a {
              color: #fff; }
          .header .logo-menu .wrap ul li:hover li:nth-child(4):after {
            position: absolute;
            content: url("../images/fa-right.png");
            top: 0;
            right: 15%; }
          .header .logo-menu .wrap ul li:hover li:nth-child(3n):after {
            content: "";
            display: none; }
    .header .logo-menu .wrap .find-house {
      position: absolute;
      bottom: 19px; }
      .header .logo-menu .wrap .find-house tr td {
        padding: 0 27px 16px 0;
        width: 25.64%; }
        .header .logo-menu .wrap .find-house tr td:nth-child(4n) {
          padding-right: 0; }
        .header .logo-menu .wrap .find-house tr td p {
          position: absolute;
          top: -46%;
          color: #fff;
          font-size: 25px; }
      .header .logo-menu .wrap .find-house .choose-condition {
        position: relative; }
        .header .logo-menu .wrap .find-house .choose-condition:after {
          position: absolute;
          content: url("../images/marker.png");
          top: 50%;
          right: 5%;
          transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -webkit-transform: translateY(-50%); }
      .header .logo-menu .wrap .find-house .condition {
        position: relative; }
        .header .logo-menu .wrap .find-house .condition:after {
          position: absolute;
          content: url("../images/down.png");
          top: 50%;
          right: 5%;
          transform: translateY(-60%);
          -o-transform: translateY(-60%);
          -ms-transform: translateY(-60%);
          -moz-transform: translateY(-60%);
          -webkit-transform: translateY(-60%); }
      .header .logo-menu .wrap .find-house .range {
        position: relative; }
        .header .logo-menu .wrap .find-house .range:before {
          position: absolute;
          content: "Cost";
          top: -10px;
          color: #fff; }
        .header .logo-menu .wrap .find-house .range:after {
          position: absolute;
          content: "$ 5.000 - $ 100.000";
          left: 20%;
          bottom: -26px;
          color: #fff; }
    .header .logo-menu .wrap select {
      padding-left: 10px;
      width: 100%;
      height: 40px;
      color: #fff;
      background: transparent;
      -webkit-appearance: none; }
      .header .logo-menu .wrap select option {
        color: black;
        background: #fff; }
    .header .logo-menu .wrap .search {
      width: 100%;
      height: 41px;
      border: 0;
      cursor: pointer;
      background: #fff;
      -webkit-transition: all 0.5s ease-out; }
      .header .logo-menu .wrap .search:hover {
        background: black;
        color: #fff; }
    .header .logo-menu .wrap .slider {
      position: relative;
      width: 100%;
      height: 1px;
      opacity: 0.6;
      -webkit-appearance: none; }
      .header .logo-menu .wrap .slider::-webkit-slider-thumb {
        width: 10px;
        height: 10px;
        cursor: pointer;
        appearance: none;
        border-radius: 50%;
        background: #fff;
        -webkit-appearance: none; }
      .header .logo-menu .wrap .slider:after {
        position: absolute;
        content: url("../images/ellipse.png");
        right: 0;
        top: -7px; }

.container .main-title .wrap {
  position: relative; }
  .container .main-title .wrap:before {
    position: absolute;
    content: url("../images/long-left.png");
    bottom: 20%;
    right: 5%; }
  .container .main-title .wrap:after {
    position: absolute;
    content: url("../images/long-right.png");
    bottom: 20%;
    right: 0%; }
.container .main-title h3 {
  position: relative;
  margin: 0 auto;
  padding: 45px 0 20px;
  width: 17%;
  color: #71b100;
  font-size: 30px;
  font-weight: normal; }
  .container .main-title h3 span {
    padding-right: 10px;
    color: #2a2a2a;
    font-size: 20px;
    font-weight: normal; }
  .container .main-title h3:before {
    position: absolute;
    content: "";
    top: 68%;
    right: 99%;
    width: 100vw;
    height: 1px;
    background: #2a2a2a; }
.container .main-title-2 .wrap:before {
  display: none; }
.container .main-title-2 .wrap:after {
  display: none; }
.container .wrap .content {
  margin-bottom: 60px; }
  .container .wrap .content .menu-house-2 li {
    margin-top: 20px; }
  .container .wrap .content .menu-house, .container .wrap .content .menu-house-2 {
    margin-bottom: 60px;
    font-size: 0; }
    .container .wrap .content .menu-house li, .container .wrap .content .menu-house-2 li {
      margin-right: 2.56%;
      width: 31.6239316239%;
      font-size: 18px;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      background-color: #f0f0f0; }
      .container .wrap .content .menu-house li:nth-child(3n), .container .wrap .content .menu-house-2 li:nth-child(3n) {
        margin-right: 0; }
      .container .wrap .content .menu-house li p, .container .wrap .content .menu-house-2 li p {
        padding: 0;
        color: #9d9d9d;
        background: #f0f0f0; }
        .container .wrap .content .menu-house li p span, .container .wrap .content .menu-house-2 li p span {
          float: right;
          color: #9d9d9d; }
      .container .wrap .content .menu-house li .detail, .container .wrap .content .menu-house-2 li .detail {
        padding: 0 10.45px; }
      .container .wrap .content .menu-house li .map, .container .wrap .content .menu-house-2 li .map {
        font-size: 16px;
        color: #9d9d9d; }
        .container .wrap .content .menu-house li .map:before, .container .wrap .content .menu-house-2 li .map:before {
          content: url("../images/map.png");
          padding-right: 10px; }
      .container .wrap .content .menu-house li .add, .container .wrap .content .menu-house-2 li .add {
        padding-top: 18px !important;
        line-height: 1.2;
        font-size: 20px;
        font-weight: bold;
        color: #619300; }
      .container .wrap .content .menu-house li .price, .container .wrap .content .menu-house-2 li .price {
        color: #71b100; }
        .container .wrap .content .menu-house li .price .cost, .container .wrap .content .menu-house-2 li .price .cost {
          color: #71b100; }
        .container .wrap .content .menu-house li .price:before, .container .wrap .content .menu-house-2 li .price:before {
          content: url("../images/usd.png");
          padding-right: 20px; }
      .container .wrap .content .menu-house li .gara:before, .container .wrap .content .menu-house-2 li .gara:before {
        content: url("../images/gara.png");
        padding-right: 10px; }
      .container .wrap .content .menu-house li .bed:before, .container .wrap .content .menu-house-2 li .bed:before {
        content: url("../images/bed.png");
        padding-right: 10px; }
      .container .wrap .content .menu-house li .bath:before, .container .wrap .content .menu-house-2 li .bath:before {
        content: url("../images/bath.png");
        padding-right: 10px; }
      .container .wrap .content .menu-house li .house-detail, .container .wrap .content .menu-house-2 li .house-detail {
        position: relative;
        overflow: hidden; }
        .container .wrap .content .menu-house li .house-detail img, .container .wrap .content .menu-house-2 li .house-detail img {
          width: 100%;
          transition: all .5s ease-out; }
        .container .wrap .content .menu-house li .house-detail .sale, .container .wrap .content .menu-house-2 li .house-detail .sale {
          position: absolute;
          bottom: 0;
          left: 18%;
          width: 62.16%;
          z-index: 2;
          color: #fff !important;
          text-align: center;
          border: 0;
          background: rgba(97, 148, 1, 0.7); }
        .container .wrap .content .menu-house li .house-detail .rent, .container .wrap .content .menu-house-2 li .house-detail .rent {
          position: absolute;
          bottom: 0;
          left: 18%;
          width: 62.16%;
          z-index: 2;
          color: #fff !important;
          text-align: center;
          border: 0;
          background: rgba(97, 148, 1, 0.7); }
      .container .wrap .content .menu-house li:hover img, .container .wrap .content .menu-house-2 li:hover img {
        transform: scale(1.1); }
  .container .wrap .content .menu-house-2 li > a:hover .hover {
    color: #7bb522; }
  .container .wrap .content .menu-house-2 li p {
    color: black; }
    .container .wrap .content .menu-house-2 li p.active {
      padding-top: 20px;
      padding-left: 10px;
      font-size: 20px;
      line-height: 1.2;
      color: #7bb522; }
  .container .wrap .content .menu-house-2 li .hover {
    padding-top: 20px;
    font-size: 20px;
    line-height: 1.2; }
  .container .wrap .content .menu-house-2 li .map {
    color: #9d9d9d; }
  .container .wrap .content .menu-house-2 li .gara, .container .wrap .content .menu-house-2 li .bed {
    float: left;
    width: 33.35%; }
  .container .wrap .content .menu-house-2 li .gara span, .container .wrap .content .menu-house-2 li .bed span, .container .wrap .content .menu-house-2 li .bath span {
    float: none;
    color: #646464; }
  .container .wrap .content .menu-house-2 li .price {
    color: black; }
    .container .wrap .content .menu-house-2 li .price span {
      float: right;
      color: black; }
    .container .wrap .content .menu-house-2 li .price:before {
      content: url("../images/-fa-usd02.png");
      padding-right: 20px; }
  .container .wrap .content .menu-house-2 li .bed {
    padding-left: 13%; }
  .container .wrap .content .menu-house-2 li .bath {
    padding-left: 16%;
    float: right;
    width: 33.3%; }
.container .wrap .img-sologan {
  margin-top: 50px;
  float: left; }
.container .wrap .txt {
  margin-top: 186px;
  float: right;
  width: 48.7179487179%; }
  .container .wrap .txt .text {
    position: relative;
    text-indent: 80px;
    text-align: justify; }
    .container .wrap .txt .text:before {
      position: absolute;
      content: "";
      top: -5px;
      left: 0;
      width: 38px;
      height: 32px;
      display: inline-block;
      background: url(../images/left.png); }
    .container .wrap .txt .text .right {
      margin-left: 30px; }
  .container .wrap .txt .text-name {
    position: relative;
    margin-top: 10px;
    font-size: 16px;
    color: #71b100; }
    .container .wrap .txt .text-name:after {
      position: absolute;
      content: "";
      left: 17.5%;
      bottom: 30%;
      width: 170px;
      height: 1px;
      background: #afafaf; }
.container .wrap .sponsor {
  margin: 40px 0; }
  .container .wrap .sponsor .sponsor-menu li {
    display: inline-block; }
.container .user {
  position: relative; }
  .container .user img {
    width: 100%; }
  .container .user .wrap p {
    position: absolute;
    top: 20%;
    color: #fff;
    font-size: 20px; }
  .container .user .wrap .input {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%); }
    .container .user .wrap .input input {
      margin-right: 2.2%;
      padding: 8px 0 0 10px;
      width: 31.5%;
      height: 40px;
      color: #fff;
      outline: none;
      cursor: pointer;
      border: 1px solid #fff;
      background: transparent; }
    .container .user .wrap .input #submit {
      margin-right: 0;
      padding-top: 4px;
      font-size: 20px; }
      .container .user .wrap .input #submit:hover {
        font-weight: bold;
        color: #71b100;
        background-color: #fff; }

.footer {
  height: 87px;
  line-height: 0;
  background: #71b100; }
  .footer .wrap .logo-copyright {
    float: left;
    padding: 20px 0; }
  .footer .wrap .copyright {
    float: right;
    padding: 43px 0;
    color: #fff; }

@media only screen and (max-width: 1240px) {
  .header .logo-menu .wrap .nav-menu ul li:nth-child(3):after {
    right: 36%; }

  .container .wrap .sponsor .sponsor-menu li {
    margin-left: 12%;
    margin-top: 2%; } }
@media only screen and (max-width: 1100px) {
  .header .wrap .internet {
    width: 14%; }
  .header .logo-menu .wrap .nav-menu {
    width: 67%; }
    .header .logo-menu .wrap .nav-menu ul li:nth-child(3):after {
      right: 41%; }

  .container .wrap .banner img {
    width: 100%;
    height: auto; }
  .container .wrap .img-sologan img {
    width: 70%; }
  .container .wrap .txt {
    width: 40%; }
  .container .wrap .sponsor {
    margin: 20px 0; }
    .container .wrap .sponsor .sponsor-menu li {
      margin-left: 10%; } }
@media only screen and (max-width: 1024px) {
  .header .wrap .internet {
    width: 15.3846153846%; }
  .header .logo-menu .wrap .nav-menu {
    width: 72.2222222222%; }
    .header .logo-menu .wrap .nav-menu ul li:nth-child(3):after {
      right: 43.5%; }

  .container .wrap .banner img {
    width: 100%;
    height: auto; }
  .container .wrap .img-sologan img {
    margin-left: 50%;
    width: 70%; }
  .container .wrap .txt {
    margin: 50px 0;
    width: 100%; }
  .container .wrap .sponsor {
    margin: 20px 0; }
    .container .wrap .sponsor .sponsor-menu li {
      margin-left: 9%; } }
@media only screen and (max-width: 980px) {
  .header .wrap .connect {
    float: none; }
    .header .wrap .connect .connect-menu li {
      margin-right: 0;
      display: block;
      text-align: center; }
      .header .wrap .connect .connect-menu li:not(:last-child) a {
        border-right: none; }
      .header .wrap .connect .connect-menu li .phone:before {
        left: 41%; }
      .header .wrap .connect .connect-menu li .mail:before {
        left: 38%; }
      .header .wrap .connect .connect-menu li .time:before {
        left: 35%; }
  .header .wrap .internet {
    width: 100%; }
    .header .wrap .internet .internet-menu li:nth-child(1) {
      margin-left: 25%; }
  .header .logo-menu {
    margin-top: 10px; }
    .header .logo-menu h1 {
      margin-left: 37%;
      padding-top: 20px;
      float: none; }
    .header .logo-menu .wrap .nav-menu {
      width: 100%; }
      .header .logo-menu .wrap .nav-menu > ul > li {
        float: none; }
        .header .logo-menu .wrap .nav-menu > ul > li:nth-child(1) {
          margin-left: 12%; }
        .header .logo-menu .wrap .nav-menu > ul > li:nth-child(3):after {
          top: 36.5%;
          right: 56%; }
        .header .logo-menu .wrap .nav-menu > ul > li .sub-menu {
          top: 42.5%; }

  .container .user .wrap .input input {
    margin-right: 2%; } }
@media only screen and (max-width: 880px) {
  .header .logo-menu .wrap .nav-menu > ul > li:nth-child(1) {
    margin-left: 9%; }
  .header .logo-menu .wrap .nav-menu > ul > li:nth-child(3):after {
    top: 36.5%;
    right: 56.5%; }
  .header .logo-menu .wrap .find-house tr td {
    float: left;
    width: 50%; }
    .header .logo-menu .wrap .find-house tr td:nth-child(4n) {
      padding-right: 27px; }
    .header .logo-menu .wrap .find-house tr td p {
      top: -30%; }

  .container .wrap .img-sologan img {
    margin-left: 40%; }
  .container .wrap .sponsor .sponsor-menu li {
    margin-left: 7%; } }
@media only screen and (max-width: 780px) {
  .header {
    height: 800px; }
    .header .wrap .connect .connect-menu li .phone:before {
      left: 38%; }
    .header .wrap .connect .connect-menu li .mail:before {
      left: 34%; }
    .header .wrap .connect .connect-menu li .time:before {
      left: 30%; }
    .header .logo-menu .wrap .nav-menu > ul > li {
      display: block;
      padding-right: 0;
      text-align: center; }
      .header .logo-menu .wrap .nav-menu > ul > li:nth-child(1) {
        margin-left: 0; }
      .header .logo-menu .wrap .nav-menu > ul > li:nth-child(3):after {
        top: 37.5%;
        right: 43.5%; }
      .header .logo-menu .wrap .nav-menu > ul > li .sub-menu {
        top: 40%;
        left: 57%;
        z-index: 1; }

  .container .wrap .content .menu-house li, .container .wrap .content .menu-house-2 li {
    margin-right: 2%;
    margin-top: 20px;
    width: 48%; }
  .container .wrap .content .menu-house-2 li:nth-child(3n) {
    margin-right: 2%; }
  .container .wrap .img-sologan img {
    margin-left: 30%; }
  .container .wrap .sponsor .sponsor-menu li {
    margin-left: 3%; } }
@media only screen and (max-width: 700px) {
  .container .user .wrap p {
    top: 15%; }
  .container .user .wrap .input {
    top: 60%; }
    .container .user .wrap .input input {
      margin-top: 10px;
      width: 100%; }
  .container .wrap .img-sologan img {
    margin-left: 20%; }
  .container .wrap .sponsor .sponsor-menu li {
    margin-left: 13%; } }
@media only screen and (max-width: 600px) {
  .header .wrap .connect .connect-menu li .phone:before {
    left: 35%; }
  .header .wrap .connect .connect-menu li .mail:before {
    left: 30%; }
  .header .wrap .connect .connect-menu li .time:before {
    left: 25%; }

  .container .wrap .content .menu-house li, .container .wrap .content .menu-house-2 li {
    margin-right: 0;
    margin-top: 20px;
    width: 100%; }
  .container .wrap .sponsor .sponsor-menu li {
    margin-left: 10%; }

  .footer .wrap .copyright {
    font-size: 14px; } }
@media only screen and (max-width: 500px) {
  .header .wrap .connect .connect-menu li .phone:before {
    left: 32%; }
  .header .wrap .connect .connect-menu li .mail:before {
    left: 26%; }
  .header .wrap .connect .connect-menu li .time:before {
    left: 20%; }
  .header .wrap .internet {
    width: 100%; }
    .header .wrap .internet .internet-menu li:nth-child(1) {
      margin-left: 17%; }
  .header .logo-menu h1 {
    margin-left: 25%; }
  .header .logo-menu .wrap .nav-menu > ul > li:nth-child(3):after {
    right: 40%; }
  .header .logo-menu .wrap .nav-menu > ul > li .sub-menu {
    left: 62%; }
  .header .logo-menu .wrap .find-house tr td {
    padding: 0 10px 16px 0; }
    .header .logo-menu .wrap .find-house tr td:nth-child(2n) {
      padding-right: 0; }
  .header .logo-menu .wrap .find-house .range:after {
    left: 0;
    font-size: 15px; }

  .container .main-title .wrap h3 {
    font-size: 25px; }
    .container .main-title .wrap h3 span {
      font-size: 18px; }
    .container .main-title .wrap h3:before {
      right: 98%; }
  .container .wrap .sponsor .sponsor-menu li {
    margin-left: 5%; }

  .footer {
    height: auto; }
    .footer .wrap .logo-copyright {
      float: none; }
      .footer .wrap .logo-copyright img {
        margin-left: 25%; }
    .footer .wrap .copyright {
      float: none;
      padding: 30px 0;
      font-size: 15px;
      text-align: center; } }
@media only screen and (max-width: 450px) {
  .header {
    height: 1000px; }
    .header .logo-menu .wrap .find-house {
      bottom: 30px; }
      .header .logo-menu .wrap .find-house tr td {
        padding: 0 0 16px 0;
        display: block;
        float: none;
        width: 100%; }
        .header .logo-menu .wrap .find-house tr td:nth-child(4n) {
          padding-right: 0; }
        .header .logo-menu .wrap .find-house tr td p {
          top: -10%;
          font-size: 25px; }
    .header .logo-menu .wrap .search {
      margin-top: 20px; }
    .header .logo-menu .wrap .nav-menu > ul > li {
      display: block;
      padding-right: 0;
      text-align: center; }
      .header .logo-menu .wrap .nav-menu > ul > li:nth-child(1) {
        margin-left: 0; }
      .header .logo-menu .wrap .nav-menu > ul > li:nth-child(3):after {
        top: 30%;
        right: 39%; }
      .header .logo-menu .wrap .nav-menu > ul > li .sub-menu {
        top: 32%;
        left: 60%; }

  .container .main-title .wrap h3 {
    font-size: 20px; }
    .container .main-title .wrap h3 span {
      font-size: 14px; }
  .container .main-title .wrap:before {
    right: 10%; }
  .container .wrap .sponsor .sponsor-menu li {
    margin-left: 1%; } }
@media only screen and (max-width: 400px) {
  .header .wrap .connect .connect-menu li .phone:before {
    left: 28%; }
  .header .wrap .connect .connect-menu li .mail:before {
    left: 20%; }
  .header .wrap .connect .connect-menu li .time:before {
    left: 15%; }
  .header .logo-menu h1 {
    margin-left: 20%; }
  .header .logo-menu .wrap .nav-menu > ul {
    padding-top: 0; }
    .header .logo-menu .wrap .nav-menu > ul > li:nth-child(3):after {
      top: 26.5%;
      right: 38%; }
    .header .logo-menu .wrap .nav-menu > ul > li .sub-menu {
      top: 29%;
      left: 0;
      width: 100%; }
  .header .logo-menu .wrap .find-house tr td p {
    top: -13%;
    font-size: 20px; }

  .container .wrap .sponsor .sponsor-menu li {
    margin-left: 25%; } }
@media only screen and (max-width: 435px) {
  .container .wrap .sponsor .sponsor-menu li {
    margin-left: 25%; } }
@media only screen and (max-width: 320px) {
  .header .wrap .connect .connect-menu li .phone:before {
    left: 25%; }
  .header .wrap .connect .connect-menu li .mail:before {
    left: 15%; }
  .header .wrap .connect .connect-menu li .time:before {
    left: 5%; }
  .header .logo-menu h1 {
    margin-left: 15%; }
  .header .logo-menu .wrap .nav-menu > ul {
    padding-top: 0; }
    .header .logo-menu .wrap .nav-menu > ul > li:nth-child(3):after {
      top: 26.8%;
      right: 35%; }
    .header .logo-menu .wrap .nav-menu > ul > li .sub-menu {
      top: 29%;
      left: 0;
      width: 100%; }

  .container .main-title .wrap h3 {
    font-size: 15px; }
    .container .main-title .wrap h3 span {
      font-size: 13px; }
  .container .wrap .sponsor .sponsor-menu li {
    margin-left: 18%; }
  .container .wrap .img-sologan img {
    margin-left: 15%; }

  .footer .wrap .logo-copyright img {
    margin-left: 18%; }
  .footer .wrap .copyright {
    padding: 10px 0;
    font-size: 12px; } }

/*# sourceMappingURL=main.css.map */
